{% extends "travelapp/base.html" %}

{% block title %} Login {% endblock %}

{% block content %}
<div class="uk-flex uk-flex-center">
    <form action="/login/" method="post" class="uk-form-horizontal uk-margin">
        {% csrf_token %}
        {{ form.as_div }} 
        <input type="submit" value="Submit">
    </form>
</div>
{% endblock %}

{% block custom_script %}
<script>
    $('form > div').addClass('uk-margin-small');
    $('input').addClass('uk-input').wrap('<div class="uk-form-controls"></div>'); 
    $('label').addClass('uk-form-label')
</script>
{% endblock %}
